$color-white: hsl(36, 100%, 99%);
$color-btn: hsl(5, 85%, 63%);
$color-news: hsl(35, 77%, 62%);

$color-bg-blue: hsl(240, 100%, 5%);
$color-text-num: hsl(233, 8%, 79%);
$color-text-head: hsl(236, 13%, 42%);

$grid-width: 114rem;
$gutter-horizontal: 2rem;
